
# OS
.DS_Store
Thumbs.db

# Local configutations
/local.properties

# Android Studio
/.idea/workspace.xml
/.idea/modules.xml
/.idea/tasks.xml
/.idea/misc.xml
/.idea/libraries
/.idea/caches
.gradle
build/
gradle/
gradlew
gradlew.bat
.externalNativeBuild
*.iml

# Secrets
twitter_key.xml
